:root {
  --primary-color: white;
  --secondary-color: white;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  font-family: "Fredericka the Great", cursive;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: "Fredericka the Great", cursive;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
@media (max-width: 768px) {
  h1 {
    font-size: 64px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
  }
}
.finish {
  padding: 30px;
  border-radius: 10px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0px 0px 16px;
  font-family: "Poppins";
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-family: "Poppins";
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Poppins";
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: black;
  font-size: medium;
  font-family: "Poppins";
}
.contact-link:hover {
  color: white;
  background-color: black;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: black;
  font-family: "Poppins";
}
.primary-link:hover {
  color: white;
  background-color: black;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  font-family: "Poppins";
}
.about-link {
  color: black;
  background-color: white;
  box-shadow: var(--box-shadow);
}
.about-link:hover {
  color: white;
  background-color: black;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
  font-family: "Poppins";
}

.about-paragraphs p {
  margin: 10px;
  font-family: "Poppins";
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  font-family: "Poppins";
  padding: 10px;
}

.email-link:hover {
  text-decoration: underline;
  font-family: "Poppins";
}
.logo {
  width: 50px;
}
.hero {
  background-color: #faf7f0;
  padding: 30px 10px;
}

.aboutLink {
  background-color: white;
  color: black;
  font-family: "Poppins";
  border: black;
}
.contactText {
  font-family: "Poppins";
  font-size: 24px;
}
@media (max-width: 768px) {
  .contactText {
    font-size: 15px;
  }
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer {
  margin: 60px 0;
}
footer .social-links a {
  margin: 0 20px;
  color: black;
  background-color: #faf7f0;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: black;
}
